<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">

	<servlet>
		<servlet-name>SampleTextSitemapsServlet</servlet-name>
		<servlet-class>com.akjava.servlet.SampleTextSitemapsServlet</servlet-class>
		<init-param>
    	<param-name>domain</param-name>
   		 <param-value>http://localhost</param-value>
  		</init-param>
  	</servlet>
  		<servlet-mapping>
		<servlet-name>SampleTextSitemapsServlet</servlet-name>
		<url-pattern>/sitemaps.txt</url-pattern>
	</servlet-mapping>
  		
  	<servlet>
		<servlet-name>ServletLibrary</servlet-name>
		<servlet-class>com.akjava.servlet.ServletLibraryServlet</servlet-class>
	</servlet>	
	<servlet-mapping>
		<servlet-name>ServletLibrary</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>SampleRssServlet</servlet-name>
		<servlet-class>com.akjava.servlet.SampleRssServlet</servlet-class>
		<init-param>
    	<param-name>title</param-name>
   		 <param-value>sample-rss</param-value>
  		</init-param>
  		<init-param>
    	<param-name>description</param-name>
   		 <param-value>simple rss servlet</param-value>
  		</init-param>
  		<init-param>
    	<param-name>link</param-name>
   		 <param-value>http://localhost</param-value>
  		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>SampleRssServlet</servlet-name>
		<url-pattern>/rss.xml</url-pattern>
	</servlet-mapping>
	
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
